doctype html
head
  meta(charset="UTF-8")
  meta(http-equiv="X-UA-Compatible", content="IE=edge")
  meta(name="viewport", content="width=device-width, initial-scale=1.0")
  title Login
  link(rel="stylesheet", href="../../static/css/styles.css")
  #login
    .login__wrapper
      h2 Login
      form(method="POST")
        input(name="username", type="text", placeholder="username")
        input(name="password", type="password", placeholder="password")
        input.loginBtn(type="submit", value="Login")
      .btns
        a.kakaoBtn(href="#") 카카오톡으로 로그인하기
        a.googleBtn(href="#") 구글로 로그인하기
        a.signUpBtn(href="#") Sign Up
        a.findPW(href="#") Forgot your password?